html, body {
     width: 100%;
     height: 100%;
}
 body {
     font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
 a {
     color: #515da9; /*bue*/
     -webkit-transition: all .35s;
     -moz-transition: all .35s;
     transition: all .35s;
}
 a:hover, a:focus {
     color: #515da9; /*bue*/
}
 hr {
     max-width: 100px;
     margin: 25px auto 0;
     border-width: 1px;
     border-color: rgba(34, 34, 34, 0.1);
}
 hr.light {
     border-color: white;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
     font-weight: 200;
     letter-spacing: 1px;
}
 p {
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 20px;
}
 section {
     padding: 100px 0;
}
 section h2 {
     /*font-size: 50px;*/
	 font-size:2.3em;
}
 .bg-red {
     background-color: #e42e2b !important;
	 color: #fff;
}
 .bg-ltpink {
     background-color: #d3389d !important;
	 color: #fff;
}
 .bg-pink {
     background-color: #c51788 !important;
	 color: #fff;
}
 .bg-ltblue {
     background-color: #6873be !important;
	 color: #fff;
}
 .bg-blue {
     background-color: #515da9 !important;
	 color: #fff;
}
 .bg-purple {
     background-color: #742671 !important;
	 color: #fff;
}
.bg-img1 {
	background-image: url(http://via.placeholder.com/400x400/515da9/6873be);
	background-repeat: no-repeat;
	background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.bg-img2 {
	background-image: url(http://via.placeholder.com/400x400/c51788/d3389d);
	background-repeat: no-repeat;
	background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.bg-img3 {
	background-image: url(http://via.placeholder.com/400x400/742671/a657a3);
	background-repeat: no-repeat;
	background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.bg-img4 {
	background-image: url(http://via.placeholder.com/400x400/e42e2b/e4504e);
	background-repeat: no-repeat;
	background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
 #mainNav {
     border-color: rgba(34, 34, 34, 0.05);
     background-color: white;
     -webkit-transition: all .35s;
     -moz-transition: all .35s;
     transition: all .35s;
     font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
     font-weight: 200;
     letter-spacing: 1px;
}
 #mainNav img {
     -webkit-filter:none;
     filter: none;
}
 .navbar-shrink#mainNav img, .navbar-shrink-perm#mainNav img {
     -webkit-filter:none;
     filter: none;
}
 #mainNav .navbar-brand {
     color: #515da9; /*bue*/
     font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
     font-weight: 200;
     letter-spacing: 1px;
}
 #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
     color: #515da9; /*bue*/
}
 #mainNav .navbar-toggler {
     font-size: 12px;
     padding: 8px 10px;
     color: #222222;
}
 #mainNav .navbar-nav > li > a {
     font-size: 11px;
     font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
     letter-spacing: 2px;
     text-transform: uppercase;
}
 #mainNav .navbar-nav > li > a.active {
     color: #515da9 !important; /*bue*/
     background-color: transparent;
}
 #mainNav .navbar-nav > li > a.active:hover {
     background-color: transparent;
}
 #mainNav .navbar-nav > li > a, #mainNav .navbar-nav > li > a:focus {
     color: #222222;
}
 #mainNav .navbar-nav > li > a:hover, #mainNav .navbar-nav > li > a:focus:hover {
     color: #515da9; /*bue*/
}
 @media (min-width: 992px) {
     #mainNav {
         border-color: transparent;
         background-color: transparent;
    }
     #mainNav img {
         -webkit-filter: brightness(0) invert(1);
         filter: brightness(0) invert(1);
    }
     #mainNav .navbar-brand {
         color: fade(white, 70%);
    }
     #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
         color: white;
    }
     #mainNav .navbar-nav > li > a, #mainNav .navbar-nav > li > a:focus {
         color: rgba(255, 255, 255, 0.7);
    }
     #mainNav .navbar-nav > li > a:hover, #mainNav .navbar-nav > li > a:focus:hover {
         color: white;
    }
     #mainNav.navbar-shrink {
         border-color: rgba(34, 34, 34, 0.1);
         background-color: white;
    }
     #mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink-perm .navbar-brand {
         color: #222222;
    }
     #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink-perm .navbar-brand:hover, #mainNav.navbar-shrink-perm .navbar-brand:focus {
         color: #515da9; /*bue*/
    }
     #mainNav.navbar-shrink .navbar-nav > li > a, #mainNav.navbar-shrink .navbar-nav > li > a:focus, #mainNav.navbar-shrink-perm .navbar-nav > li > a, #mainNav.navbar-shrink-perm .navbar-nav > li > a:focus {
         color: #222222;
    }
     #mainNav.navbar-shrink .navbar-nav > li > a:hover, #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover, #mainNav.navbar-shrink-perm .navbar-nav > li > a:hover, #mainNav.navbar-shrink-perms .navbar-nav > li > a:focus:hover {
         color: #515da9; /*bue*/
    }
}
 header.masthead {
     position: relative;
     width: 100%;
     padding-top: 150px;
     padding-bottom: 100px;
     color: white;
    /*background: url("../img/bg-pattern.png"), #7b4397;
     background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
     background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
    */
     background: -webkit-linear-gradient(242deg, rgb(116, 38, 113), rgb(228, 46, 43), rgb(197, 23, 136), rgb(81, 93, 169)) 0% 0% / 400% 400%;
     background: -o-linear-gradient(242deg, rgb(116, 38, 113), rgb(228, 46, 43), rgb(197, 23, 136), rgb(81, 93, 169)) 0% 0% / 400% 400%;
     background: linear-gradient(332deg, rgb(116, 38, 113), rgb(228, 46, 43), rgb(197, 23, 136), rgb(81, 93, 169)) 0% 0% / 400% 400%;
     animation: CustomAnimation 10s ease infinite;
}
 @-webkit-keyframes CustomAnimation {
     0%{
        background-position:0% 50%
    }
     50%{
        background-position:100% 50%
    }
     100%{
        background-position:0% 50%
    }
}
 @-moz-keyframes CustomAnimation {
     0%{
        background-position:0% 50%
    }
     50%{
        background-position:100% 50%
    }
     100%{
        background-position:0% 50%
    }
}
 @keyframes CustomAnimation {
     0%{
        background-position:0% 50%
    }
     50%{
        background-position:100% 50%
    }
     100%{
        background-position:0% 50%
    }
}
 header.masthead .header-content {
     max-width: 700px;
     margin-bottom: 100px;
     text-align: center;
}
 header.masthead .header-content h1 {
     font-size: 40px;
}
 header.masthead .device-container {
     max-width: 325px;
     margin-right: auto;
     margin-left: auto;
}
 header.masthead .device-container .screen img {
     border-radius: 3px;
}
 @media (min-width: 992px) {
     header.masthead {
         height: 100vh;
         min-height: 775px;
         padding-top: 0;
         padding-bottom: 0;
    }
     header.masthead .header-content {
         margin-bottom: 0;
         text-align: left;
    }
     header.masthead .header-content h1 {
         font-size: 50px;
    }
     header.masthead .device-container {
         max-width: 325px;
    }
}
 section.download {
     position: relative;
     padding: 150px 0;
}
 section.download h2 {
     font-size: 50px;
     margin-top: 0;
}
 section.download .badges .badge-link {
     display: block;
     margin-bottom: 25px;
}
 section.download .badges .badge-link:last-child {
     margin-bottom: 0;
}
 section.download .badges .badge-link img {
     height: 60px;
}
 @media (min-width: 768px) {
     section.download .badges .badge-link {
         display: inline-block;
         margin-bottom: 0;
    }
}
 @media (min-width: 768px) {
     section.download h2 {
         font-size: 70px;
    }
}
 section.features .section-heading {
     /*margin-bottom: 100px;*/
}
 section.features .section-heading h2 {
     margin-top: 0;
}
 section.features .section-heading p {
     margin-bottom: 0;
}
 section.features .device-container, section.features .feature-item {
     max-width: 325px;
     margin: 0 auto;
}
 section.features .device-container {
     margin-bottom: 100px;
}
 @media (min-width: 992px) {
     section.features .device-container {
         margin-bottom: 0;
    }
}
 section.features .feature-item {
     padding-top: 50px;
     padding-bottom: 50px;
     text-align: center;
}
 section.features .feature-item h3 {
     font-size: 30px;
}
#features 
{
	padding-top: 20px;
}
 section.business .feature-item h3, section.benefits .feature-item h3,section.comingsoon .feature-item h3  {
     display: inline-block;
}
 section.features .feature-item i {
     font-size: 80px;
     display: block;
     margin-bottom: 15px;
     background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
     background: linear-gradient(to left, #7b4397, #dc2430);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 header.cta {
     position: relative;
     padding: 250px 0;
     background-image: url("../img/bg-cta2.jpg");
     background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
} 
header.account-cta {
    padding: 150px 0;
     background-image: linear-gradient(to left bottom, #e42e2b, #e51345, #e0005d, #d50073, #c51788);
}
header.faq-cta {
     background-image: url("../img/bg-cta1.jpg");
	padding: 180px 0 100px 0;
}
 header.benefits-cta {
     padding: 150px 0;
     background-image: linear-gradient(to left bottom, #e42e2b, #e51345, #e0005d, #d50073, #c51788);
}
 header.business-cta {
     padding: 200px 0 150px 0;
     background-image: linear-gradient(to right top, #515da9, #5d519e, #674490, #6f3681, #742671);
}
header.product-cta {
     padding: 150px 0 50px 0;
	/*background-image: linear-gradient(to left bottom, #e42e2b, #e51345, #e0005d, #d50073, #c51788);*/
}
 header.cta .cta-content {
     position: relative;
     z-index: 1;
}
 header.cta .cta-content h1, header.benefits-cta h1, header.business-cta h1 {
     font-size: 50px;
     max-width: 450px;
     margin-top: 0;
     margin-bottom: 25px;
     color: white;
}
header.product-cta h1 {
     font-size: 50px;
     max-width: auto;
     margin-top: 0;
     margin-bottom: 25px;
     color: white;
} 
 header.account-cta .cta-content h1 {
     font-size: 50px;
     max-width: 100%;
     margin-top: 10px;
     margin-bottom: 25px;
     color: white;
}
 @media (min-width: 768px) {
     header.cta .cta-content h1, header.benefits-cta h1, header.business-cta h1 {
         font-size: 80px;
    }
}
 header.cta .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
}
 section.contact {
     text-align: center;
}
 section.contact h2 {
     margin-top: 0;
     margin-bottom: 25px;
}
 section.contact h2 i {
     color: #e42e2b;
}
 section.contact ul.list-social {
     margin-bottom: 0;
}
 section.contact ul.list-social li a {
     font-size: 40px;
     line-height: 80px;
     display: block;
     width: 80px;
     height: 80px;
     color: white;
     border-radius: 100%;
}
 section.contact ul.list-social li.social-twitter a {
     background-color: #1da1f2;
}
 section.contact ul.list-social li.social-twitter a:hover {
     background-color: #0d95e8;
}
 section.contact ul.list-social li.social-facebook a {
     background-color: #3b5998;
}
 section.contact ul.list-social li.social-facebook a:hover {
     background-color: #344e86;
}
 section.contact ul.list-social li.social-google-plus a {
     background-color: #e42e2b;
}
 section.contact ul.list-social li.social-google-plus a:hover {
     background-color: #d73925;
}
 footer {
     padding: 25px 0;
     text-align: center;
     color: rgba(255, 255, 255, 0.3);
     background-color: #222222;
}
 footer p {
     font-size: 12px;
     margin: 0;
}
 footer ul {
     margin-bottom: 0;
}
 footer ul li a {
     font-size: 12px;
     color: rgba(255, 255, 255, 0.3);
}
 footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
     text-decoration: none;
	 color: #fff;
}
 .bg-primary {
     background: #742671; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #742671 1%, #515da9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #742671 1%,#515da9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #742671 1%,#515da9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#742671', endColorstr='#515da9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 .text-primary {
     color: #515da9; /*bue*/
}
.text-red {
  color: #e42e2b !important;
}
.text-pink {
  color: #c51788 !important;
}
.text-blue {
  color: #515da9 !important;
}
.text-purple {
  color: #742671 !important;
}
 .no-gutter > [class*='col-'] {
     padding-right: 0;
     padding-left: 0;
}
 .btn-outline {
     color: white;
     border: 1px solid;
     border-color: white;
}
.btn-outline.btn-pink {
     color: #c51788;
     border: 1px solid;
     border-color: #c51788;
}
 .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
     color: #742671;
     border-color: #fff;
     background-color: #fff;
	 text-decoration: none;
}

 .btn {
     border-radius: 300px;
     font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
     letter-spacing: 2px;
     text-transform: uppercase;
}
 .btn-xl {
     font-size: 11px;
     padding: 15px 45px;
}


.btn-buy-outline {
	font-size: 11px;
     padding: 13px 43px;
  	/*position: relative;
  	height: 45px;
  	width: 50%;
  	margin: 0 auto;
  	padding: .8em;
  	font-weight: 700;
	text-align: center;
  	font-size: .85em;
  	letter-spacing: 2px;*/
	border-radius: 300px;
  	/*border-radius: 4px;*/
  	text-transform: uppercase;
	/*display: block;*/
  	outline: 0;
  	overflow:hidden;
  	background: none;
  	z-index: 1;
  	cursor: pointer;
  	transition:         0.08s ease-in;
  	-o-transition:      0.08s ease-in;
  	-ms-transition:     0.08s ease-in;
  	-moz-transition:    0.08s ease-in;
  	-webkit-transition: 0.08s ease-in;
}
.btn-buy-blue
{
	color: #515da9 !important;
 	border: 2px #515da9 solid;
}
.btn-buy-red
{
	color: #e42e2b !important;
 	border: 2px #e42e2b solid;
}
.btn-buy-purple
{
	color: #742671 !important;
 	border: 2px #742671 solid;
}
.btn-buy-pink
{
	color: #c51788 !important;
 	border: 2px #c51788 solid;
}
.btn-buy-white
{
	color: #ffffff !important;
 	border: 2px #ffffff solid;
} 
/*.btn-buy-outline:hover, .btn-fill:hover {
  color: #fff !important;
}

.btn-fill:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
color: #fff !important;
  -webkit-transition: top 0.09s ease-in;
}
.btn-buy-blue.btn-fill:before {
	background: #515da9;
}
.btn-buy-purple.btn-fill:before {
	background: #742671;
}
.btn-buy-red.btn-fill:before {
	background: #e42e2b;
}.btn-buy-pink.btn-fill:before {
	background: #c51788;
}*/
.btn-fade
 {
	 color: #fff;
	 text-decoration: none;
 }
.btn-buy-blue.btn-fade:hover {
	background: #515da9;
	color: #fff !important;
	text-decoration: none;
}
.btn-buy-purple.btn-fade:hover {
	background: #742671;
	color: #fff !important;
	text-decoration: none;
}
.btn-buy-red.btn-fade:hover {
	background: #e42e2b;color: #fff !important;text-decoration: none;
}.btn-buy-pink.btn-fade:hover {
	background: #c51788;
	color: #fff !important;text-decoration: none;
}


.btn-fill:hover:before {
  top: 0;
}
#services .container-fluid .service-box .btn
{
	margin-bottom: 50px;
}

#services
{
	padding: 0;
}
	 
#profiles .container-fluid .profile-box .btn
{
	margin-bottom: 70px;
}
#profiles
{
	padding: 0;
	color: #fff;
}
#profiles a 
	 {color:#fff;}
	 #profiles a:hover
	 {color:#e42e2b;text-decoration: none}
.red-pink-bg
 {
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #e42e2b 0%, #C51788 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #e42e2b 0%, #C51788 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #e42e2b 0%, #C51788 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e42e2b), color-stop(100, #C51788));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #e42e2b 0%, #C51788 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #e42e2b 0%, #C51788 100%);
}
.red-purple-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #E42E2B 0%, #742671 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #E42E2B 0%, #742671 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #E42E2B 0%, #742671 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #E42E2B), color-stop(100, #742671));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #E42E2B 0%, #742671 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #E42E2B 0%, #742671 100%);
}
.red-blue-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #e42e2b 0%, #515DA9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #e42e2b 0%, #515DA9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #e42e2b 0%, #515DA9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e42e2b), color-stop(100, #515DA9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #e42e2b 0%, #515DA9 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #e42e2b 0%, #515DA9 100%);
}
.pink-red-bg
 {
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #C51788 0%, #E42E2B 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C51788 0%, #E42E2B 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C51788 0%, #E42E2B 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C51788), color-stop(100, #E42E2B));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C51788 0%, #E42E2B 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #C51788 0%, #E42E2B 100%);
}
.pink-purple-bg
{
	 /* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #C51788 0%, #742671 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C51788 0%, #742671 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C51788 0%, #742671 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C51788), color-stop(100, #742671));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C51788 0%, #742671 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #C51788 0%, #742671 100%);
}
.pink-blue-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #C51788 0%, #515da9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C51788 0%, #515da9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C51788 0%, #515da9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C51788), color-stop(100, #515da9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C51788 0%, #515da9 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #C51788 0%, #515da9 100%);
}
.purple-blue-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #742671 0%, #515da9 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #742671 0%, #515da9 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #742671 0%, #515da9 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #742671), color-stop(100, #515da9));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #742671 0%, #515da9 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #742671 0%, #515da9 100%);
}
.purple-pink-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #742671 0%, #C51788 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #742671 0%, #C51788 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #742671 0%, #C51788 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #742671), color-stop(100, #C51788));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #742671 0%, #C51788 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #742671 0%, #C51788 100%);
}
.purple-red-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #742671 0%, #E42E2B 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #742671 0%, #E42E2B 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #742671 0%, #E42E2B 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #742671), color-stop(100, #E42E2B));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #742671 0%, #E42E2B 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #742671 0%, #E42E2B 100%);
}
.blue-purple-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #515DA9 0%, #742671 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #515DA9 0%, #742671 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #515DA9 0%, #742671 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #515DA9), color-stop(100, #742671));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #515DA9 0%, #742671 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #515DA9 0%, #742671 100%);
}
.blue-pink-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #515DA9 0%, #C51788 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #515DA9 0%, #C51788 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #515DA9 0%, #C51788 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #515DA9), color-stop(100, #C51788));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #515DA9 0%, #C51788 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #515DA9 0%, #C51788 100%);
}
.blue-red-bg
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #515DA9 0%, #E42E2B 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #515DA9 0%, #E42E2B 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #515DA9 0%, #E42E2B 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #515DA9), color-stop(100, #E42E2B));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #515DA9 0%, #E42E2B 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #515DA9 0%, #E42E2B 100%);
}